@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

* {
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-height: 75vh;
  margin-top: 5vh;
  background-color: lightgray;
  background: url('http://www.demo.amitjakhu.com/login-form/images/bg.png');
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  min-height: 50vh;
  background: #f3f3f3;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  margin-top: 3vh;
  padding: 2vh 0vh 2vh 0vh;
}

.input-fields{
  display: flex;
  height: 6vh;
  font-size: 2vh;
  border: 1px;
  margin-bottom: 1vh;
  cursor: text;
  width: 100%;
}

.inputs-labels{
  font-size: 14px;
  width: 90%;
  padding: 0
}

.input-fields:focus{
  outline: none;
  border-left: 3px solid green;
  border-right: 3px solid green;
}



#notes {
  height: 15vh;
}

.submit-button{
  width: 80%;
  height: 5vh;
  border: none;
  border-left: 1vh solid green;
  font-size: 2vh;
}

.submit-button:hover{
  cursor: pointer;
  background-color: lightgreen;
}

.submit-button:focus{
  outline: none;
}

.focus{
  border-left: 3px solid red;
  border-right: 3px solid red;
}

.close-button{
  align-self: center;
  width: 10%;
  height: 10%;
  justify-content: center;
  font-size: 100%;
  border: none;
  border-radius: 5px;
}

.popup-section{
  position: fixed;
  z-index: 1;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

}
.popup-msg{
  display: flex;
  justify-content: center;
  font-size: 150%!important;
  width: 25%;
  text-align: center;
  margin-top: 1vh;
  background-color: rgba(2, 255, 0, 0.62);
  color: white;
  border: 5px solid black;
  border-radius: 15px;
  padding: 3%
}
