
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);


* {
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  margin-top: 7.5vh;
  background-color: lightgray;
  background: url('http://www.demo.amitjakhu.com/login-form/images/bg.png');
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

.m-heading{
  display: flex;
  font-size: 200%;
  color: rgb(244, 67, 54);
  align-self: center;
  text-shadow: 0.2px 2px 0px black;

}

.m-label{
  margin-left: 5vh;
  margin-top: 5vh;
  font-size: 150%;
  color: rgb(255, 24, 0);
  text-align: left;
  text-shadow: 0.2px 2px 0px #00545f;

}

.m-body{
  font-size: 100%;
  color: black;
  text-align: left;
  text-shadow: none
}
