@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

* {
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  align-items: center;
  flex-flow: column;
  min-height: 75vh;
  background-color: lightgray;
  background: url('http://www.demo.amitjakhu.com/login-form/images/bg.png');
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 10vh;
  width: 100%;
}

.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button{
  border: none;
  width: 5vh;
  height: 5vh;
  margin: 0.2vh;
  font-size: 3vh;
}

.button:focus{
  outline: none;
}

.delete-button:hover{
  background-color: red;
}

.edit-button:hover{
  background-color: lightgreen;
}

.history-button:hover{
  background-color: brown;
}

.popup-section{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
}
.popup-msg{
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 150%!important;
  width: 25%;
  text-align: center;
  margin-top: 1vh;
  background-color: rgba(2, 255, 0, 0.62);
  color: white;
  border: 5px solid black;
  border-radius: 15px;
  padding: 3%
}

.edit-container, .history-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  min-width: 75%;
  min-height: 80vh;
  background: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  padding: 2vh 0vh 2vh 0vh;
}

.history-container{
  min-height: auto;
  top: 17vh;
}

.input-fields{
  display: flex;
  width: 80%;
  height: 2vh;
  padding: 2.5vh;
  font-size: 2vh;
  border: 1px;
  border-radius: 2vh;
  margin-bottom: 1vh;
  cursor: text;
}

.input-fields:focus{
  outline: none;
  border-left: 3px solid green;
  border-right: 3px solid green;
}


#notes {
  height: 15vh;
}

.submit-button, .close-form{
  width: 50%;
  height: 5vh;
  border: none;
  border-left: 1vh solid green;
  font-size: 2vh;
  margin-bottom: 0.2vh;
}

.submit-button:hover, .close-form:hover{
  cursor: pointer;
  background-color: lightgreen;
}

.submit-button:focus, .close-form:focus{
  outline: none;
}

.focus{
  border-left: 3px solid red;
  border-right: 3px solid red;
}

.metahead{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  background-color: lightgray;
  padding: 2vh;
  margin-top: 1vh;
  background: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  margin-top: 5vh;
}

.row-x, .row-head{
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: darkblue;
  font-size: 1em;
}

.row-x{
  display: flex;
  align-items: center;
  color: black;
  background-color: white;
}

.column-y{
  display: flex;
  width: 22.5%;
  justify-content: center;
  text-align: center;
}

.fcc, .cw{
  width: 10%!important;
}

.column-labels, .metadata{
  width: 100%
}

.btns{
  width: 10%;
}

.notes{
  overflow-wrap: break-word
}

.head-info{
  width: 100%;
  display: flex;
  align-self: flex-start;
  background-color: lightgray;
  padding: 1vh;
}
