    <h1 class="m-heading">500!</h1>
    <h2 class="m-msg">Internal Server Error, Sorry :(</h2>
    <script type="text/javascript">
      document.querySelector('body').addEventListener('click', (e) => {
        e.preventDefault();
        alert('Wanna go back home?');
        window.location.pathname='/';
      })
    </script>
  
