<section class='container'>
    <label for="name" class="inputs-labels">Name:<input id='name' aria-label="Participent Name" type="text" name="name" class='input-fields'></label>
    <label for="phone" class="inputs-labels">Phone Number:<input id='phone' aria-label="Participent Phone Number" type="text" name="phone" class='input-fields'></label>
    <label for="phone" class="inputs-labels">Gender:<input id='gender' aria-label="Participent gender" type="text" name="gender" class='input-fields'></label>
    <label for="code-wars-before" class="inputs-labels">CodeWars Before:<input id='code-wars-before' aria-label="Participent Progress in CodeWars" type="text" name="code-wars" class='input-fields'></label>
    <label for="code-wars-after" class="inputs-labels">CodeWars After:<input id='code-wars-after' aria-label="Participent Progress in CodeWars" type="text" name="code-wars" class='input-fields'></label>
    <label for="free-code-camp-before" class="inputs-labels">FreeCodeCamp Before:<input id='free-code-camp-before' aria-label="Participent Progress in FreeCodeCamp" type="text" name="free-code-camp" class='input-fields'></label>
    <label for="free-code-camp-after" class="inputs-labels">FreeCodeCamp After:<input id='free-code-camp-after' aria-label="Participent Progress in FreeCodeCamp" type="text" name="free-code-camp" class='input-fields'></label>
    <label for="notes" class="inputs-labels">Notes:<input id='notes' aria-label="Notes on Participent" type="text" name="notes" class='input-fields'></label></label>
    <button name="submit-form" class='submit-button'>Submit</button>
</section>
<script src='js/addMember.js'></script>
