<section class='container'>
    <label for="name" class="inputs-labels">USERNAME:<input id='username'  type="text" name="name" class='input-fields'></label>
    <label for="password" class="inputs-labels">PASSWORD:<input id='password' type="password" name="password" class='input-fields'></label>
    <label for="passwordValidation" class="inputs-labels">CONFIRM PASSWORD:<input id='passwordValidation' type="password" name="passwordValidation" class='input-fields'></label>
    <label for="role" class="inputs-labels">ROLE:
      <select id = 'role'>
        <option value="admin">Admin</option>
        <option value="watcher">Watcher</option>
      </select>
    </label>
    <button name="submit-form" class='submit-button'>Submit</button>
</section>

<script src="js/addUser.js"></script>
