
    <section class="container">
      <h1 class="m-heading">Coding For Everyone - Links:</h1>
      <label class="m-label">1. FB Group: <label class="m-body">https://www.facebook.com/groups/gsgcfe/</label></label>
      <label class="m-label">2. Gitter CFE Channel: <label class="m-body">https://gitter.im/gazaskygeeks_bootcamp/codingforeveryone</label></label>
      <label class="m-label">3. Gitter FACG4 Channel: <label class="m-body">https://gitter.im/gazaskygeeks/facg4-applicants</label></label>
      <label class="m-label">4. FreeCodeCamp: <label class="m-body">https://www.freecodecamp.org/</label></label>
      <label class="m-label">5. CodeWars: <label class="m-body">https://www.codewars.com/</label></label>
    </section>
  
