<head>
  <meta charset="utf-8">
  <title>Coding For Everyone - Home Page</title>
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/{{style}}.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
